<!DOCTYPE html>
<html>
<head>
  <title>Address Book</title>
</head>
<body>
  <div>
    <h1>Address Book</h1>
    <form action="/add-contact" method="post">
      <label for='name'>Name</label>
      <input id='name' type="text" name="name" class="form-control">
      <br>
      <label for='address'>Address</label>
      <input id='address' type="text" name="address" class="form-control">
      <br>
      <label for='phone-number'>Phone Number</label>
      <input id='phone-number' type="tel" name="phone-number">
      <br>
      <button type='submit' class='btn-success'>Add Contact</button>
    </form>
  </div>
</body>
</html>