<!DOCTYPE html>
<html>
<head>
  <title>Address Book</title>
</head>
<body>
  <div class="container">
    <h1>Address Book</h1>
    <div class="input-form">
      <form action="/add-contact" method="post">
        <label for='name'>Name</label>
        <input id='name' type="text" name="name" class="form-control">
        <br>
        <label for='address'>Address</label>
        <input id='address' type="text" name="address" class="form-control">
        <br>
        <label for='phone-number'>Phone Number</label>
        <input id='phone-number' type="tel" name="phone-number">
        <br>
        <button type='submit' class='btn-success'>Add Contact</button>
      </form>
      <form action="/delete-all" method="post">
        <button type="submit" class="btn-warning">Delete All Contacts</button>
      </form>
    </div>
    <div class="contacts">
    {% if contacts is not empty %}
        <p>Contacts:</p>
        <ul>
          {% for contact in contacts %}
          <li>Name: {{ contact.name }}</li>
          <ul>
            <li>Address: {{ contact.address }}</li>
            <li>Phone Number: {{ contact.phone_number}}</li>
          </ul>
          {% endfor %}
        </ul>
        {% endif %}
    </div>
  </div>
</body>
</html>