<!DOCTYPE html>
<html>
<head>
  <title>Address Book</title>
</head>
<body>
  <div>
    <h1>Address Book</h1>
    You made a new contact!
    <form action="/" method="get">
      <button type="submit" class="btn-warning">Home</button>
    </form>
  </div>
</body>
</html>